body{
  margin:0;
  width:95%;
  margin:auto;
}
header ul{
  padding:0;
  display:flex;
  list-style: none;
  height:40px;
  background-color: rgb(248, 240, 240);
  cursor:default;
  margin:0;
}
header li:first-child{
  font-weight: bold;
  font-size:30px;
  width:30px;
  line-height:40px;
}
header li:nth-child(2){
  margin-left:30px;
  font-weight: bold;
  border-bottom:3px solid brown;
  font-size:30px;
  line-height:40px;
}
header li:last-child{
  margin-left:auto;
  font-size:25px;
  line-height:40px;
}
header p{
  font-size:20px;
}
form input[type="text"]{
  width:90%;
  height:33px;
  border-radius:5px;
  border:1px solid;
}
form input[type="submit"]{
  width:8%;
  height:38px;
  background-color: rgb(247, 52, 52);
  border:1px solid white;
  border-radius:5px;
}
#contents{
  list-style:none;
  display:flex;
  padding:0;
  cursor:default;
}
#contents li{
  margin:auto;
  text-align: center;
  font-size:10px;
}
img{
  width:30px;
  height:30px;
}

#goodscontents{
  margin:auto;
  list-style:none;
  display:flex;
  flex-wrap: wrap;
  padding:0;
}
#goodscontents li{
  text-align: center;
  margin:5px 0px 0px 12px;
  background-color: rgb(245, 245, 245);
  font-size:18px;
}
#goodscontents .image{
  width:100%;
  position:relative;
}
#goodscontents img{
  width:180px;
  height:140px;
  cursor:default;
}


.main{
  opacity:0.3;
}
#dialog{
  position:fixed;
  width:80%;
  height:500px;
  top:18%;
  right:10%;
  text-align:center;
  background-color: white;
  border-radius: 5px;
  z-index: 9;
  font-size:30px;
}
#dialog #dialogDiv{
  width:100%;
  height:300px;
}
#dialogDiv img{
  width:100%;
  height:300px;
}
#dialog span{
  position:absolute;
  bottom:90%;
  left:90%;
  font-size:45px;
  font-weight: bold;
  opacity:0.7;
} 
#dialog button{
  margin-top:20px;
  font-size:25px;
  padding:10px 30px;
  border:1px solid black;
  border-radius: 20px;
  background-color: rgb(247, 104, 104);
  color:white;
  box-shadow:10px 10px 5px 20px;
  opacity:0.7;
}
#dialog button:hover{
  opacity: 1;
}

/*cart*/
#cartSpan{
  position:fixed;
  top:35%;
  left:30%;
  font-size:20px;
  font-weight: bold;
  color:black;
  background-color: white;
  border:1px solid black;
  border-radius: 5px;
  padding:10px 20px;
}