body{
  margin:0;
  width:95%;
  margin:auto;
}
p{
  font-size:20px;
  font-weight: bold;
  width:100%;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
ul{
  list-style: none;
  padding:0;
}
header ul{
  padding:0;
  display:flex;
  list-style: none;
  height:40px;
  background-color: rgb(248, 240, 240);
  cursor:default;
  margin:0;
}
header li:first-child{
  font-weight: bold;
  font-size:30px;
  line-height:40px;
}
header li:nth-child(2){
  margin-left:auto;
  font-weight: bold;
  border-bottom:3px solid brown;
  font-size:30px;
  line-height:40px;
}
header li:last-child{
  font-style: italic;
  margin-left:auto;
  margin-right:7px;
  font-size:20px;
  line-height:40px;
}

main img{
  width:25%;
  height:100%;
  float: left;
}
main .flame::first-line{
  font-size:20px;
}
main ul{
  margin-top:0;
}
main li{
  margin-top:5px;
  background-color: rgb(218, 214, 214);
  position:relative;
  width:auto;
  height:100px;
  overflow: hidden;
}
main li div{
  float:left;
  width:70%;
}
main li div:last-child{
  position:absolute;
  bottom:0;
  left:85%;
  font-size:20px;
}
main li div:nth-child(3){
  font-size:12px;
}
main li div:nth-child(4){
  font-size:18px;
  position:relative;
  top:10px;
}
main .flame span{
  position:absolute;
  right:15px;
  font-size:25px;
}
